<footer>
    <section class="section">
        <div class="container">
            <h1 class="title">Gracias</h1>
            <p><strong>Instagram: </strong>@shimano_prints</p>
            <p><strong>Teléfono: </strong> +123 456 7890</p>
        </div>
    </section>
</footer>
</html>
