<%- include("includes/header.ejs") %>

<h3 id="title" class="title"> Iniciar sesión </h3>

    <div class="container">
      <form action="/users/login" method="POST">
        <label class="label" for="username">Username:</label>
        <input name="username" class="input" type="text" id="username"><br>
        <label class="label" for="password">Contraseña:</label>
        <input name="password" class="input" type="password" id="password"><br><br>
        <button type="submit">Enviar</button>
      </form>
      </div>

<%- include("includes/footer.ejs") %>