<%- include("includes/header.ejs") %>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Bienvenidos a Shimano Prints
            </p>
            <p class="subtitle">
                Tu fuente de impresiones 3D personalizadas y de alta calidad
            </p>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Acerca de nosotros</h1>
            <p>
                Somos una tienda especializada en la creación de impresiones 3D personalizadas para todo tipo de necesidades, desde prototipos hasta objetos decorativos. Utilizamos tecnología de vanguardia para garantizar la mejor calidad en cada impresión.
            </p>
        </div>
    </section>


<div id="spotifyPlaylist">
    <script>
        const playlistId = '7yS1xDR88veeBYLu9gTAlz';
        const accessToken = 'b1c85ce6d44a4c0b823f50d717568c9f';
      
        fetch(`https://api.spotify.com/v1/playlists/${playlistId}`, {
          headers: {
            'Authorization': `Bearer ${accessToken}`
          }
        })
        .then(response => response.json())
        .then(data => {
          const playlist = data;
          const playlistEmbedUrl = `https://open.spotify.com/embed/playlist/${playlistId}`;
      
          const iframe = document.createElement('iframe');
          iframe.src = playlistEmbedUrl;
          iframe.title = 'Spotify Embed: Recommendation Playlist';
          iframe.width = '100%';
          iframe.height = '100%';
          iframe.style.minHeight = '360px';
          iframe.frameBorder = '0';
          iframe.allow = 'autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture';
          iframe.loading = 'lazy';
      
          document.getElementById('spotifyPlaylist').appendChild(iframe);
        })
        .catch(error => console.error('Error:', error));
      </script>
</div>

</body>

<%- include('includes/footer.ejs') %>
